<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to "posts", posts_path %>

<%= form_tag(root_path, :method => "get") do %>
  <%= label_tag "Enter a number" %>
  <%= text_field_tag "answer" %>
  <%= submit_tag "Enter" %>
<% end %>

<hr>
<h1>what I entered</h1>

<h3><%= threeplus(@input) %></h3>